                  	<ul class="vertical-nav hidden-xs" style="margin-left:-15px" >
                        	<li ng-repeat="item in categories"><a href="{{item.url}}">{{item.name}}</a></li> 
                     </ul>

             
                
                <!-- Shop navbar -->
                  <nav class="navbar navbar-default navbar-shop visible-xs">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>
                      <div id="navbar2" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                        	<li ng-repeat="item in categories"><a href="{{item.url}}">{{item.name}}</a></li> 
                        </ul>
                        
                      </div><!--/.nav-collapse -->
                    </div><!--/.container-fluid -->
                  </nav>
               
           

        
   
    
    

